@using Newtonsoft.Json
@model LHOfficeBgo.ViewModel.Content.IndexImgsEntityVMs.IndexImgsEntityVM
@{
    var imgs = Model.Entity.Imgs.Split(",");
}

<wt:form vm="@Model">
    <wt:row items-per-row="ItemsPerRowEnum.Two">
        <wt:combobox field="Entity.IndexMenusId"  items="@Model.ContentMenus" enable-search="true" />
        <div style="overflow-y:scroll;height: 200px;">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <ul id="IndexMenusIdTree" class="layui-box layui-tree"></ul>
                </div>
            </div>

        </div>
        </div>
        <wt:combobox field="Entity.IsAuto"/>
        <wt:textbox field="Entity.Speed"/>
    </wt:row>
    <div id="imgsSection">
        @for (var i = 0; i < imgs.Length; i++)
        {
            <div class="layui-row ">
                <div class="layui-col-md7">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="text" name="@Html.Raw("Entity.Imgs"+i)" value="@imgs[i]" placeholder="" class="layui-input" id="@Html.Raw("EntityImgs"+i)" lay-verify="required" lay-filter="Entity.Imgsfilter">
                        </div>
                    </div>

                </div>

                <div class="layui-col-md1">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px">
                            <image id="@Html.Raw("EntityImgsDetail"+i)" src="@imgs[i]" width="64" height="64" />
                        </div>
                    </div>

                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px">
                            <button id="@Html.Raw("EntityImgsUploadButton"+i)" name="Entity.ImgsUploadButton" class="layui-btn layui-btn-sm" type="button" lay-filter="IndexImgsEntityVM_Entity_Imgsbuttonfilter">选择文件</button>
                            <input class="layui-upload-file" type="file" accept="" name="file">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md1">
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left:0px">
                            <label onclick="Lh.deleteImg(this)" class="layui-btn">-</label>
                        </div>
                    </div>

                </div>
            </div>

        }
    </div>
    <wt:row align="AlignEnum.Left">
        <div class="layui-col-md1">
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:0px">
                    <label id="btnAddImgSection" class="layui-btn">+</label>
                </div>
            </div>

        </div>
    </wt:row>
    <wt:hidden field="Entity.ID" />
    <wt:row align="AlignEnum.Right">
        <wt:submitbutton />
        <wt:closebutton />
    </wt:row>
</wt:form>
<script>
    $(function () {
        LhIndexImgs.init();
        layui.tree.render({
            elem: '#IndexMenusIdTree',
            id:"IndexMenusIdTree",
            data:@Html.Raw(JsonConvert.SerializeObject(Model.ContentMenusTree)),
            click:function(node) {
                if (node.data.id) {
                    $("#IndexImgsEntityVM_Entity_IndexMenusId").val(node.data.id);
                    layui.form.render('select');
                }
            }
        });
    })
</script>



