@model LHOfficeBgo.ViewModel.Content.IndexMenusEntityVMs.IndexMenusEntityVM

<wt:form vm="@Model">
    <wt:row items-per-row="ItemsPerRowEnum.Two">
        @if (Model.ParentId.HasValue)
        {
            <wt:combobox field="Entity.ParentId" label-text="上层目录搜索" items="@Model.ParentMenus" enable-search="true" disabled="true" />
        }
        else
        {
            <wt:combobox field="Entity.ParentId" label-text="上层目录搜索" items="@Model.ParentMenus" enable-search="true" />
      
        }
        <wt:combobox field="Entity.LayOutKey" items="@Model.MenuLayOuts"  enable-search="true"/>
    </wt:row>
    <wt:row items-per-row="ItemsPerRowEnum.Two">
        <wt:textbox field="Entity.Name" />
        <wt:textbox field="Entity.SortOrder" />

        @if (!Model.ParentId.HasValue)
        {
            <wt:textbox field="Entity.Url" />
            <wt:combobox field="Entity.IsShow" />

        }
    </wt:row>
    @if (!Model.ParentId.HasValue) { 
    <div id="imgsSection">
        <div class="layui-row ">
            <div class="layui-col-md8">
                <div class="layui-form-item">
                    <label for="IndexMenusEntityVM_Entity_DefaultImg" class="layui-form-label"><font color="red">*</font>默认图</label>
                    <div class="layui-input-block">
                        <input type="text" name="Entity.DefaultImg" id="IndexMenusEntityVM_Entity_DefaultImg" value="@Model.Entity.DefaultImg" placeholder="" class="layui-input" lay-verify="required" lay-filter="Entity.Imgsfilter">
                    </div>
                </div>

            </div>

            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px">
                        <image id="EntityDefaultImgDetail" src="@Model.Entity.DefaultImg" width="128" height="128" />
                    </div>
                </div>

            </div>
            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px">
                        <button id="EntityDefaultImgUploadButton" name="Entity.ImgsUploadButton" data-section="DefaultImg" class="layui-btn layui-btn-sm" type="button" lay-filter="IndexMenusEntityVM_Entity_Imgsbuttonfilter">选择文件</button>
                        <input class="layui-upload-file" type="file" accept="" name="file">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row ">
            <div class="layui-col-md8">
                <div class="layui-form-item">
                    <label for="IndexMenusEntityVM_Entity_HoverImg" class="layui-form-label"><font color="red">*</font>鼠标悬停图</label>
                    <div class="layui-input-block">
                        <input type="text" name="Entity.HoverImg" id="IndexMenusEntityVM_Entity_HoverImg" value="@Model.Entity.HoverImg" placeholder="" class="layui-input" lay-verify="required" lay-filter="Entity.Imgsfilter">
                    </div>
                </div>

            </div>

            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px">
                        <image id="EntityHoverImgDetail" src="@Model.Entity.HoverImg" width="128" height="128" />
                    </div>
                </div>

            </div>
            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px">
                        <button id="EntityHoverImgUploadButton" name="Entity.ImgsUploadButton" data-section="HoverImg" class="layui-btn layui-btn-sm" type="button" lay-filter="IndexMenusEntityVM_Entity_Imgsbuttonfilter">选择文件</button>
                        <input class="layui-upload-file" type="file" accept="" name="file">
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
        <wt:hidden field="Entity.ID" />
        <wt:row align="AlignEnum.Right">
            <wt:submitbutton />
            <wt:closebutton />
        </wt:row>
</wt:form>
<script>
    $(function () {
        LhIndexMenus.init();
    })
</script>